.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

menu {
  list-style-type: none;
  display: flex;
  padding: 10px;
  margin-bottom: 0;
  gap: 1em;
}

li > button {
  font-size: calc(10px + 1vmin);

}

#alphabet {
  margin: 2em;
  display: grid;
  width: 50%;
  grid-template-columns: repeat(7, 1fr);
  font-size: calc(10px + 2vmin);
}

#alphabet > div {
  cursor: pointer;
}

/* for Letters already used */
.used {
  color: #282c34;
}
